
<!doctype html>
<head>
<script>
$(document).ready(function(){
var touch = 'ontouchstart' in document.documentElement
            || (navigator.MaxTouchPoints > 0)
            || (navigator.msMaxTouchPoints > 0);

if (touch) { // remove all :hover stylesheets
    try { // prevent exception on browsers not supporting DOM styleSheets properly
        for (var si in document.styleSheets) {
            var styleSheet = document.styleSheets[si];
            if (!styleSheet.rules) continue;

            for (var ri = styleSheet.rules.length - 1; ri >= 0; ri--) {
                if (!styleSheet.rules[ri].selectorText) continue;

                if (styleSheet.rules[ri].selectorText.match(':hover')) {
                    styleSheet.deleteRule(ri);
                }
            }
        }
    } catch (ex) {}
}

    loadGallery(true, 'a.thumbnail');

    //This function disables buttons when needed
    function disableButtons(counter_max, counter_current){
        $('#show-previous-image, #show-next-image').show();
        if(counter_max == counter_current){
            $('#show-next-image').hide();
        } else if (counter_current == 1){
            $('#show-previous-image').hide();
        }
    }

    /**
     *
     * @param setIDs        Sets IDs when DOM is loaded. If using a PHP counter, set to false.
     * @param setClickAttr  Sets the attribute for the click handler.
     */

    function loadGallery(setIDs, setClickAttr){
        var current_image,
            selector,
            counter = 0;

        $('#show-next-image, #show-previous-image').click(function(){
            if($(this).attr('id') == 'show-previous-image'){
                current_image--;
            } else {
                current_image++;
            }

            selector = $('[data-image-id="' + current_image + '"]');
            updateGallery(selector);
        });

        function updateGallery(selector) {
            var $sel = selector;
            current_image = $sel.data('image-id');
            $('#image-gallery-caption').text($sel.data('caption'));
            $('#image-gallery-title').text($sel.data('title'));
            $('#image-gallery-image').attr('src', $sel.data('image'));
            disableButtons(counter, $sel.data('image-id'));
        }

        if(setIDs == true){
            $('[data-image-id]').each(function(){
                counter++;
                $(this).attr('data-image-id',counter);
            });
        }
        $(setClickAttr).on('click',function(){
            updateGallery($(this));
        });
    }
});
</script>
</head>
<div class="container">
  <%=image_tag "hamilton.png", :class=>"img-bg" %>
  <h1>Roll back to Fall 2007 at Hamilton College…</h1>
  <h3>that's how it starts, we go back to your house.</h1>

<p>
In an effort to snag the job of publicity director at WHCL (a title under which she later generated much flack for mispelling “presents” on <a href="#" id="prpnl"><%= image_tag"prpnl.JPG", :class=> "prpnl-img"%>this highly-visible concert poster</a>), Lisa cleverly wrote on the job application that she wanted the beloved campus band, Applewagon, to play live on-air as a way to gain more listeners. This was a bold move on her part, considering she didn’t know anything about Applewagon, and didn’t know that their lead singer, Dave, was one of the people interviewing her for the position. But she was a fearless freshman, and Dave was just some flannel-clad upperclassman <a href="#" id="cam"><%= image_tag "cam.png", :class => "cam-img"  %> Cam Breslin</a> had introduced her to during their radio show. </p>

<p>The power had gone out during the interview, which was taking place during a notorious Central New York blizzard, and Lisa was being interviewed in the dark. All was going great, until a voice (from a not-visible face) from across the room said “I see you want to get Applewagon to play on the air. Can I ask what you think of their lead singer?” Lisa, not knowing that <span style="color:#1fc4d9; font-weight:bold;"> 1)</span> Dave was the lead singer of Applewagon, <span style="color:#d16f50; font-weight:bold;">2)</span> Dave himself had asked her that question, or <span style="color:#8bc34a;font-weight:bold;">3)</span> what the general consensus was on said lead singer, gave the most neutral, lukewarm response she could think of-- “I don’t mind him.” Real smooth.
</p>
<p>
The Bristol Center got its power back in time for WHCL’s weekly meetings, so Lisa, the new publicity director, could dreamily steal glances at Dave, the jam rack manager, instead of paying attention to what was actually going on (her apologies to the WHCL staff). They enjoyed jumping on couches in the Majapp, varsity "free running", hanging out in the Glen, and chance encounters in McEwen until Dave graduated in 2009. Dave moved to Newport with Applewagon and worked on a bird sanctuary for the summer and Lisa went abroad to France. They didn't see much of each other until Dave returned to campus in the Fall of 2010 for an LCD Soundsystem concert. He saw Lisa from across the Annex, tapped her on the shoulder, and that was that! After countless concerts, skiing trips, and shenangians pulled on each other, they are so excited to embark on this new trail together.
</p>
<h4>What's with the seals!?</h4>
<p class="small-p">
You'd be right if you noticed some seal motifs around all this wedding stuff. Six years ago, Dave began raising a seal pup in the bathtub (unbenownst to Lisa), and released it into the Pacific Ocean when it outgrew its porcelain home. He trained it well, and proposed to Lisa by attaching a ring to the seal and having it swim up to her with the ring in its glistening flippers.</p>
<p class="small-p">Just kidding! A few minutes before Dave proposed to Lisa, they were walking around one of their favorite spots, the seal beach in San Diego. However, there was an unusually large crowd of tourists getting unusually close and confrontational with the seals on the beach! Lisa was commiserating with a nearby local about this, when she suddenly noticed Dave taking off his sandals, running down the beach, and bravely coming to the seals' rescue by loudly demanding that everyone get back behind the rope where they could enjoy the seals at a respectful distance. After he popped the question on the cliffs nearby, a few seals swam by and popped their heads out of the water--maybe their way of thanking Dave, and sending well wishes their way!
</p>

<div class="row bio">
  <div class="col-xs-12 col-sm-10   col-md-6">
    <%= image_tag "dave_lisa_137.jpg", :class=>"bio-img"%>
  </div>
  <div class="col-xs-12 col-sm-10  col-md-6 bio-p">
  <h3>If you don’t know Lisa so well…</h3>


  <p>Lisa grew up daydreaming, drawing, and collecting stickers in Westborough, Massachusetts. She spent her time at Hamilton making art, writing countless French papers and analyses of Ezra Pound, dancing, and getting way too into themed parties. She started out in publishing, helped run a French school in Brooklyn, and then got into graphic design and programming before finding her calling as a web developer. When she isn’t coding, designing things, or cooking, you can find her petting random dogs on the street or taking a nap (not on the street).</p>


  <b>Loves:</b> yellow labs, foreign languages, running, pigs, Davey
 <p></p>

  <b>Doesn’t love: </b> beets, touching seaweed, frogs.
  <p></p>
  <b>Future title of autobiography: </b>Have you console logged it?
  <p></p>
  <b>Has visited: </b> Malta
  <p></p>
  <b>Has not visited: </b> Alaska
  <p></p>
  <b>Favorite Neil Young Song: </b> Tell Me Why
  <p></p>

</div>
</div>
<div class="row bio">

<div class="col-xs-12 col-sm-10   col-md-6 bio-p">
<h3>If you don’t know Dave so well…</h3>

<p>
Dave grew up in the wild west of San Diego, California, going to cowboy camp and Comic Con, climbing trees, and listening to Pink Floyd and Queen. When he wasn’t studying biology, math, and music at Hamilton, you could find him juggling, building epic snow forts (with a few other <a href="#" id="snowfort"><%=image_tag "snowfort.png", :class=>"snowfort-img"%>key players</a>), singing and playing music, and doing improv. He enjoyed a brief stint working at The Norman Bird Sanctuary in Newport, RI, working as a professional improv comedian, and tutoring an impressive repertoire of New York City private school students before becoming a science teacher.</p>


<b>Loves:</b> plants, playing guitar, Monty Python, tying knots, Lisa
<p></p>
<b>Doesn’t love:</b> Little Dragon, yogurt, condiments.
<p></p>
<b>Future title of autobiography:</b> Photosynthesizers: How to play nurturing music for your plants.
<p></p>
<b>Has visited:</b> Estonia
<p></p>
<b>Has not visited:</b> Spain
<p></p>
<b>Favorite Neil Young Song: </b>Out on the Weekend
<p></p>


</p>
</div>
<div class="col-xs-12 col-sm-10  col-md-6">
    <%= image_tag "dave_lisa_148.jpg", :class=>"bio-img"%>
  </div>
</div>


<div class="container">
  <div class="row">
<div class="col-lg-12">


            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-image="https://i.imgsafe.org/3063889f30.jpg" data-target="#image-gallery">
                <%=image_tag "lisadave1.jpg", :class=>"img-responsive" %>

            </a>
        </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-image="https://i.imgsafe.org/30708e72f4.jpg" data-target="#image-gallery">
                <%=image_tag "lisadave3.jpg", :class=>"img-responsive" %>
            </a>
        </div>
             <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-image="https://i.imgsafe.org/309f967470.jpg" data-target="#image-gallery">
                <%=image_tag "lisadave19.jpg", :class=>"img-responsive" %>
            </a>
        </div>
      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-image="https://i.imgsafe.org/309fbb7a15.jpg" data-target="#image-gallery">
                <%=image_tag "lisadave21.jpg", :class=>"img-responsive" %>
            </a>
        </div>
          <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal"data-image="https://i.imgsafe.org/3070a49d67.jpg" data-target="#image-gallery">
                <%=image_tag "lisadave4.jpg", :class=>"img-responsive" %>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-image="https://i.imgsafe.org/3070b84946.jpg" data-target="#image-gallery">
                <%=image_tag "lisadave5.jpg", :class=>"img-responsive" %>
            </a>
        </div>
         <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-image="https://i.imgsafe.org/3071361aef.jpg" data-target="#image-gallery">
                <%=image_tag "lisadave11.jpg", :class=>"img-responsive" %>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-image="https://i.imgsafe.org/3070c52911.jpg" data-target="#image-gallery">
                <%=image_tag "lisadave6.jpg", :class=>"img-responsive" %>
            </a>
        </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-image="https://i.imgsafe.org/017b1144ae.jpg" data-target="#image-gallery">
                <%=image_tag "lisadave24.jpg", :class=>"img-responsive" %>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-image="https://i.imgsafe.org/3070d39717.jpg" data-target="#image-gallery">
                <%=image_tag "lisadave7.jpg", :class=>"img-responsive" %>
            </a>
        </div>
   <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-image="https://i.imgsafe.org/017b150d86.jpg" data-target="#image-gallery">
                <%=image_tag "lisadave25.jpg", :class=>"img-responsive" %>
            </a>
        </div>


        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-image="https://i.imgsafe.org/3071215757.jpg" data-target="#image-gallery">
                <%=image_tag "lisadave10.jpg", :class=>"img-responsive" %>
            </a>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-image="https://i.imgsafe.org/307143d27a.jpg" data-target="#image-gallery">
                <%=image_tag "lisadave12.jpg", :class=>"img-responsive" %>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-image="https://i.imgsafe.org/307159dccc.jpg" data-target="#image-gallery">
                <%=image_tag "lisadave13.jpg", :class=>"img-responsive" %>
            </a>
        </div>
               <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-image="https://i.imgsafe.org/307070d330.jpg" data-target="#image-gallery">
                <%=image_tag "lisadave2.jpg", :class=>"img-responsive" %>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-image="https://i.imgsafe.org/8b7a9120de.jpg" data-target="#image-gallery">
                <%=image_tag "lisadave32.JPG", :class=>"img-responsive" %>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-image="https://i.imgsafe.org/8b7b293cf7.jpg" data-target="#image-gallery">
                <%=image_tag "lisadave37.JPG", :class=>"img-responsive" %>
            </a>
        </div>



        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-image="https://i.imgsafe.org/0178fccc7d.jpg" data-target="#image-gallery">
                <%=image_tag "lisadave23.jpg", :class=>"img-responsive" %>
            </a>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-image="https://i.imgsafe.org/309f686172.jpg" data-target="#image-gallery">
                <%=image_tag "lisadave14.jpg", :class=>"img-responsive" %>
            </a>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-image="https://i.imgsafe.org/309f6d9490.jpg" data-target="#image-gallery">
                <%=image_tag "lisadave15.jpg", :class=>"img-responsive" %>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-image="https://i.imgsafe.org/309f7c35b7.jpg" data-target="#image-gallery">
                <%=image_tag "lisadave16.jpg", :class=>"img-responsive" %>
            </a>
        </div>
         <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-image="https://i.imgsafe.org/309fd675c1.jpg" data-target="#image-gallery">
                <%=image_tag "lisadave22.jpg", :class=>"img-responsive" %>
            </a>
        </div>
               <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-image="https://i.imgsafe.org/017b396828.jpg" data-target="#image-gallery">
                <%=image_tag "lisadave27.jpg", :class=>"img-responsive" %>
            </a>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-image="https://i.imgsafe.org/309f907689.jpg" data-target="#image-gallery">
                <%=image_tag "lisadave18.jpg", :class=>"img-responsive" %>
            </a>
        </div>
      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-image="https://i.imgsafe.org/30710bdd68.jpg" data-target="#image-gallery">
                <%=image_tag "lisadave9.jpg", :class=>"img-responsive" %>
            </a>
        </div>
         <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-image="https://i.imgsafe.org/017b26a242.jpg" data-target="#image-gallery">
                <%=image_tag "lisadave26.jpg", :class=>"img-responsive" %>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-image="https://i.imgsafe.org/8b7ab6fa3f.jpg" data-target="#image-gallery">
                <%=image_tag "lisadave36.JPG", :class=>"img-responsive" %>
            </a>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-image="https://i.imgsafe.org/309fa63607.jpg" data-target="#image-gallery">
                <%=image_tag "lisadave20.jpg", :class=>"img-responsive" %>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-image="https://i.imgsafe.org/017b43f158.jpg" data-target="#image-gallery">
                <%=image_tag "lisadave28.jpg", :class=>"img-responsive" %>
            </a>
        </div>




</div>


<div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="image-gallery-title"></h4>
            </div>
            <div class="modal-body">
                <img id="image-gallery-image" class="img-responsive center-block" src="">
            </div>
            <div class="modal-footer">

                <div class="col-md-2">
                    <button type="button" class="btn  prev" id="show-previous-image"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
                </div>



                <div class="col-md-2 pull-right">
                    <button type="button" id="show-next-image" class="btn next"><i class="fa fa-arrow-right" aria-hidden="true"></i>
</button>
                </div>
            </div>
        </div>
    </div>
</div>


