
<div class="container">

<h1>Welcome to Groton, MA!</h1>
<h3>Picture yourself in a wedding in Groton</h3>
<p>In spite of all of these California pictures on our site, our wedding will bring you to the adorable town of Groton, Massachusetts!</p>
<p></p>
  <p class="small-p"><span class="emph">Fun facts:</span> Groton was a battlefield in King Philip's War and Queen Anne's War! It's also home to The Groton School, which a bunch of Roosevelts (including FDR and one named Kermit) attended. Some famous residents of Groton include J.Geils, Paul Matisse (Henri's grandson), and Steve Kornacki </p>
<p class="address">
<%=image_tag "map2.png", :class=>"img-responsive map"%>
</p>
<div class="container-sub">

<p class="address">Groton is just shy of an hour northwest of Boston, and about 45 minutes northeast of Worcester.</p>
<div class="row">
<div class="col-sm-2">
</div>
  <div class="col-xs-12 col-sm-4 col-md-4 transport">
    <div class="transport-inner">
  <h3> if you are traveling to Worcester</h3>
  <p>Take Amtrak or the bus to Union Station</p>
  <i class="fa fa-bus" aria-hidden="true" style="color:#d16f50; font-size:2em"></i>
  <p>or</p>

  <p>Fly to Worcester Airport</p>
</div>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 transport">
    <div class="transport-inner">
    <h3> if you are traveling to Boston</h3>
  <p>Take Amtrak or the bus to South or North Station*</p>
  <i class="fa fa-plane" aria-hidden="true" style="color:#d16f50; font-size:2em"></i>
  <p>or</p>

  <p>Fly to Logan Airport</p>
</div>
  </div>
</div>
<p class="address">*There is a commuter rail that runs from North Station in Boston to Littleton and Ayer, which are both very close to Groton. If you need to be picked up from one of these stations, just let us know!</p>
<div class="col-sm-2">
  </div>
<p class="address">If you are driving, you'll more likely rely on a smartphone or actual paper map than this website for directions, but for good measure;
Groton is about 6 miles northwest of exit 31 from route 495.  From exit 31, follow 119-W, which turns into 225, into the center of Groton, where 225 crosses route 40. The Courtyard is just off exit 31 on route 119.
</p>

  <p class="address">If you are coming from Boston, you'll want to take I-93 N and get off at exit 37. Take I-95 S to exit 32A to get on US-3N. Take exit 30C from US-3N onto I-495 S, then take exit 31 to 119-W.</p>

  <p class="address">From the south or west, take the Mass Pike (I-90) eastbound to exit 10, then take I-290E to I-495N. Take exit 31 from 495. This will bring you to Groton via rt. 119.</p>


  </p>
</div>


<h1>Fun things to do and see</h1>
<div class="container">
<div class="row-fluid">
<div class="container-activity">

        <%=image_tag "hikersfll.png", :class => "canoe" %>
        <p class="dek">Take a hike at the <a href="http://www.farnwr.org/maps.html">Assabet River Wildlife Refuge</a>. In addition to wetlands and vernal pools, there are 15 miles of hiking and biking!<p>
</div>



<div class="container-activity">
  <p class="dek non-feat">Go for a stroll in downtown Concord, where there are loads of shops, cafes, and restaurants. Another fun fact: Jackie O's children went to school here, at Concord Academy.</p>
</div>



<div class="container-activity">
      <p class="dek non-feat">Treat yourself to a giant cone at <a href="http://kimballfarm.com/" target="_blank">Kimball Farm</a>, where Lisa used to get ice cream all over her face as a kid! Kimball's also has batting cages, bumper boats, and tons more. <br/><br/><span class="emph"><i class="fa fa-star" aria-hidden="true"></i></span> Bonus points if you actually finish your ice cream.</p>

      <%=image_tag "kimballs.png", :class => "kimballs img-responsive" %>

</div>

  <div class="container-activity move-up">
  <p class="dek non-feat">Travel about 10 miles north into Nashua, NH (closer than it seems, promise) to go indoor skydiving at <a href=" https://skyventurenh.com/" target="_blank">Skyventure</a>. There's also something called the "Tropical Wave Shred Competition" there every year, we'll leave you to figure that one out.</p>
</div>

<div class="container-activity-lg">
    <%=image_tag "canoe.png", :class => "canoe" %>

    <p class="dek non-feat">Rent a canoe, kayak, or paddleboard from <a href="http://www.nashobapaddler.com/" target="_blank">Nashoba Paddler</a> and go on an adventure on the Nashua River! (<span class="emph">note:</span> Nashoba Paddler is cash/check only) </p>
  </div>


    <div class="container-activity">
  <p class="dek non-feat">Check out the butterflies and some beautiful greenery at  <a href="https://butterflyplace-ma.com/" target="_blank">The Butterfly Place</a> in Westford. <br/>(<span class="emph">note:</span> note: butterflies taste with their feet! Wow, who knew?!)</p>
</div>

  <div class="container-activity">
  <p class="dek non-feat">If you are up for a drive and love visiting historical places (we're looking at you, Roger Buch, Eric Moroney, and Molly Goodman), take a trip to the <a href="https://www.nps.gov/lowe/index.htm" target="_blank">Lowell Mills.</a>
</div>
    <div class="container-activity-lg">
      <%=image_tag "alpaca.png", :class => "alpaca img-responsive" %>


      <p class="dek non-feat lg alpacas-p">Say hello to the adorable Alpacas at <a href="http://luinagreine.com/" target="_blank">Luina Greine Farm</a> and give them a big hug from Lisa! (<span class="emph">note:</span> unsure if guests are actually allowed to hug alpacas, please exercise caution).</p>
    </div>







    <div class="container-activity">
      <p class="dek non-feat">It's sour hour! Grab a solar-powered beer from <a href="http://www.brewtruewest.com/">True West Brewing Company</a>, or a non solar-powered, but equally dank one at <a href="http://drinkrapscallion.com/" target="_blank">Rapscallion Tap Room</a> in Acton. If you're feeling tropical, head over to the <a href="http://sunset-tiki.com/" target="_blank">Sunset Tiki Bar</a> in Westford, where there is a fake beach set up and usually live music.</p>
      <%=image_tag "beer.png", :class => "beer" %>
    </div>

    <div class="container-activity">
      <p class="dek non-feat">Go on a combo nature-walk/art-viewing experience at the <a href="http://andresinstitute.org/" target="_blank">Andres Institute of Art</a> in Brookline, NH, about 9 miles north of Groton; seriously, it's an outdoor sculpture museum on a mountain--what else could you ask for? If you're feeling fine and inclined, they also give Iron Melting workshops there on Saturdays!</a>
      </p>
    </div>








</div>
</div>