

  <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
<div class="container-front">
    <div class="carousel-inner">
      <div class="name-overlay">
  Lisa & David<br>
  <p class="date">June 16 2018</p><br>

</div>
      <div class="item  active">
          <%=image_tag "dave_lisa_005.jpg"%>

      </div><!--item active-->
      <div class="item">

          <%=image_tag "dave_lisa_056.jpg"%>

      </div><!--item active-->
      <div class="item">

          <%=image_tag "dave_lisa_046.jpg"%>

      </div><!--item active-->
            <div class="item">

          <%=image_tag "dave_lisa_161.jpg"%>

      </div><!--item active-->
      <div class="item">

          <%=image_tag "dave_lisa_076-2.jpg"%>

      </div><!--item active-->
      <div class="item">

          <%=image_tag "dave_lisa_083.jpg"%>

      </div><!--item active-->

      <div class="item">

          <%=image_tag "dave_lisa_044.jpg"%>

      </div><!--item active-->
      <div class="item">

          <%=image_tag "dave_lisa_156.jpg"%>

      </div><!--item active-->
    </div>
  </div>

  </div>

